/*
Theme Name:     Pageroll
Author:         Star Verte LLC
Author URI:     http://starverte.com/
Description:    Child theme for Flint; used to display a single webpage with multiple Pages, navigable using a fixed navigation bar.
Template:       flint
Version:        0.1.0
License:        GPLv3
License URI:    license.txt
Tags:           sparks

A spark sets a fire ablaze, and similarly the Sparks Framework is made up of 'sparks' that help initiate the creative process of website development within WordPress. Often times to start a fire, a person uses flint and steel. With the Sparks Framework it is the same way. 'Flint' (the core theme) and 'Steel' (the core plugin) makeup the foundation of the framework. Then, additional child themes and plugins extend the functionality and user experience.

    Copyright (C) 2013  Star Verte LLC

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/
@import url("../flint/style.css");
